.statusBar {
        padding: 6px;
        border: 2px solid #999;
    }

    .pageContent {
        padding:; 6px;
        border: 2px solid #999;
    }

    .footer {
        padding:; 6px;
        border: 2px solid #999;
    }